<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class#"
	data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#"
	data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#"
	style="width: #width#; height: #height#; #style#; background-color: #BGSpeedtestByOokla# !important;">
	<center class="widget-name" style="background-color: #BGTitle#">
		<span class="warning" title="#alert_name#">
			<i class="#alert_icon#"></i>
		</span>
		<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
			<i class="fas fa-sync"></i>
		</span>
		<span class="reportModeVisible">#name_display#<span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden">#name_display#<span class="object_name">#object_name#</span></a>
	</center>
	<div class="#isVerticalAlign#">
		<center>
			<div class="cmd cmd-widget history cursor tooltipstered" data-type="info" data-subtype="numeric"
				data-template="tile" data-cmd_id="#download_Id#">
				<div class="title ">
					<div class="cmdName">#download_Name#</div>
				</div>
				<div class="content-sm">
					<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
						style="position: relative; top: 8px; margin-right: 5px;">
						<path
							d="M54.26,198.5a12,12,0,1,0,12,12A12,12,0,0,0,54.26,198.5Zm0,22a10,10,0,1,1,10-10A10,10,0,0,1,54.28,220.5Zm5-11a1,1,0,0,0-.71.29l-3.3,3.3V205.5a1,1,0,0,0-2,0v7.59L50,209.8a1,1,0,1,0-1.42,1.42l5,5a1,1,0,0,0,1.42,0l5-5A1,1,0,0,0,59.28,209.5Z"
							transform="translate(-42.26 -198.5)" fill="#6afff3" />
					</svg>
					<span class="pull-right unit" style="line-height: 40px;"></span>
					<span class="pull-right state" style="line-height: 40px;"></span>
				</div>
			</div>
			<div class=" cmd cmd-widget history cursor tooltipstered" data-type="info" data-subtype="numeric"
				data-template="tile" data-cmd_id="#upload_Id#">
				<div class="title ">
					<div class="cmdName">#upload_Name#</div>
				</div>
				<div class="content-sm">
					<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
						style="position: relative; top: 8px; margin-right: 5px;">
						<path
							d="M54.26,238a12,12,0,1,0,12,12A12,12,0,0,0,54.26,238Zm0,22a10,10,0,1,1,10-10A10,10,0,0,1,54.28,260ZM55,244.28a1,1,0,0,0-1.42,0l-5,5A1,1,0,0,0,50,250.7l3.3-3.3V255a1,1,0,0,0,2,0v-7.59l3.3,3.3A1,1,0,0,0,60,249.29Z"
							transform="translate(-42.26 -238)" fill="#bf71ff" />
					</svg>
					<span class="pull-right unit" style="line-height: 40px;"></span>
					<span class=" pull-right state" style="line-height: 40px;"></span>
				</div>
			</div>
			<div class=" cmd cmd-widget history cursor tooltipstered" data-type="info" data-subtype="numeric"
				data-template="tile" data-cmd_id="#ping_Id#">
				<div class="title ">
					<div class="cmdName">#ping_Name#</div>
				</div>
				<div class="content-sm">
					<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
						style="position: relative; top: 8px; margin-right: 5px;">
						<path
							d="M48.5,169.61a1,1,0,0,0,.77.39h10a1,1,0,0,0,0-2H51.19l3.06-3.06a1,1,0,1,0-1.41-1.41l-4.54,4.54a1,1,0,0,0,0,1.41A1,1,0,0,0,48.5,169.61ZM54.26,159a12,12,0,1,0,12,12A12,12,0,0,0,54.26,159Zm0,22a10,10,0,1,1,10-10A10,10,0,0,1,54.28,181ZM60,172.39a1,1,0,0,0-.77-0.39h-10a1,1,0,1,0,0,2h8.09l-3.06,3.06a1,1,0,1,0,1.41,1.41l4.54-4.54a1,1,0,0,0,0-1.41A1,1,0,0,0,60,172.39Z"
							transform="translate(-42.26 -159.01)" fill="#fff38e" />
					</svg>
					<span class="pull-right unit" style="line-height: 40px;"></span>
					<span class="pull-right state" style="line-height: 40px;"></span>
				</div>
			</div>
			<br>
			<!-- <div class=" cmd cmd-widget history cursor tooltipstered" data-type="info" data-subtype="numeric"
				data-template="tile" data-cmd_id="#server_Id#">
				<div class="title ">
					<div class="cmdName">#server_Name#</div>
				</div>
				<div class="content-sm">
					<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
						style="position: relative; top: 8px; margin-right: 5px;">
						<path
							d="M22.27 22a.73.73 0 0 1-.733-.73v-.48c0-1.337-.83-2.536-2.062-2.976-1.518-.544-4.037-1.193-7.475-1.193s-5.957.65-7.47 1.19c-1.23.44-2.06 1.638-2.06 2.975v.48c0 .406-.33.73-.733.73S1 21.67 1 21.27v-.48c0-1.958 1.22-3.707 3.036-4.356 1.622-.583 4.317-1.276 7.964-1.276s6.34.693 7.964 1.276C21.78 17.084 23 18.837 23 20.79v.48c0 .4-.33.73-.73.73zM12 2.7c2.425 0 4.4 1.975 4.4 4.4s-1.974 4.4-4.4 4.4-4.4-1.973-4.4-4.4S9.575 2.7 12 2.7m0-1.468a5.87 5.87 0 0 0 0 11.737A5.87 5.87 0 0 0 12 1.23z" />
					</svg>
					<span class="pull-right unit"></span>
					<span class="pull-right state"></span>
				</div>
			</div> -->
		</center>
	</div>
	#divGraphInfo#
	<script>
		if ('#refresh_id#' != '') {
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({ id: '#refresh_id#' })
			})
		} else {
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove()
		}
		jeedom.cmd.addUpdateFunction('#download_Id#', function (_options) {
			$('.cmd[data-cmd_id=#download_Id#]').attr('title', 'Date de valeur : ' + _options.valueDate + '<br/>Date de collecte : ' + _options.collectDate)
			$('.cmd[data-cmd_id=#download_Id#] .state').empty().append(_options.display_value)
			$('.cmd[data-cmd_id=#download_Id#] .unit').empty().append(_options.unit)
		});
		jeedom.cmd.refreshValue([{ cmd_id: '#download_Id#', display_value: '#download_Value#', valueDate: '#download_ValueDate#', collectDate: '#download_CollectDate#', unit: '#download_Unite#' }])
		jeedom.cmd.addUpdateFunction('#upload_Id#', function (_options) {
			$('.cmd[data-cmd_id=#upload_Id#]').attr('title', 'Date de valeur : ' + _options.valueDate + '<br/>Date de collecte : ' + _options.collectDate)
			$('.cmd[data-cmd_id=#upload_Id#] .state').empty().append(_options.display_value)
			$('.cmd[data-cmd_id=#upload_Id#] .unit').empty().append(_options.unit)
		});
		jeedom.cmd.refreshValue([{ cmd_id: '#upload_Id#', display_value: '#upload_Value#', valueDate: '#upload_ValueDate#', collectDate: '#upload_CollectDate#', unit: '#upload_Unite#' }])
		jeedom.cmd.addUpdateFunction('#ping_Id#', function (_options) {
			$('.cmd[data-cmd_id=#ping_Id#]').attr('title', 'Date de valeur : ' + _options.valueDate + '<br/>Date de collecte : ' + _options.collectDate)
			$('.cmd[data-cmd_id=#ping_Id#] .state').empty().append(_options.display_value)
			$('.cmd[data-cmd_id=#ping_Id#] .unit').empty().append(_options.unit)
		});
		jeedom.cmd.refreshValue([{ cmd_id: '#ping_Id#', display_value: '#ping_Value#', valueDate: '#ping_ValueDate#', collectDate: '#ping_CollectDate#', unit: '#ping_Unite#' }])
		// if ('#BGSpeedtestByOokla#' != '') {
		// 	eqLogic.attr('style', eqLogic.attr('style') + 'background-color:#BGSpeedtestByOokla#!important;')
		// }
	</script>
</div>