<div class="eqLogic eqLogic-widget #class# #category# speedtestByOokla" data-eqLogic_id="#id#" data-eqType="#eqType#"
	data-version="#version#" data-eqLogic_uid="#uid#" data-translate-category="#translate_category#"
	data-category="#category#" data-tags="#tags#" style="#style#">
	<link rel="stylesheet" href="plugins/speedtestByOokla/core/template/css/mobile/speedtestByOoklaWithoutGauges.css">
	<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
		<i class="fas fa-sync"></i>
	</span>
	<center>
		<span class="widget-name">
			<span class="warning" title="#alert_name#">
				<i class='#alert_icon#'></i>
			</span>
			<span>#name_display#<span class="object_name">#object_name#</span></span><br />
		</span>
		<div style="padding: 5px;">
			<div class="cmd cmd-widget" data-type="info" data-subtype="numeric" data-template="tile"
				data-cmd_id="#download_Id#">
				<center>
					<div class="cmdName">#download_Name#</div>
					<span class="svg">
						<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M54.26,198.5a12,12,0,1,0,12,12A12,12,0,0,0,54.26,198.5Zm0,22a10,10,0,1,1,10-10A10,10,0,0,1,54.28,220.5Zm5-11a1,1,0,0,0-.71.29l-3.3,3.3V205.5a1,1,0,0,0-2,0v7.59L50,209.8a1,1,0,1,0-1.42,1.42l5,5a1,1,0,0,0,1.42,0l5-5A1,1,0,0,0,59.28,209.5Z"
								transform="translate(-42.26 -198.5)" fill="#6afff3" />
						</svg>
					</span>
					<span class="state"></span>
					<span class="unit"></span>
					<span class="timeCmd value" data-type="info"></span>
				</center>
			</div>
			<div class="cmd cmd-widget" data-type="info" data-subtype="numeric" data-template="tile"
				data-cmd_id="#upload_Id#">
				<center>
					<div class="cmdName">#upload_Name#</div>
					<span class="svg">
						<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M54.26,238a12,12,0,1,0,12,12A12,12,0,0,0,54.26,238Zm0,22a10,10,0,1,1,10-10A10,10,0,0,1,54.28,260ZM55,244.28a1,1,0,0,0-1.42,0l-5,5A1,1,0,0,0,50,250.7l3.3-3.3V255a1,1,0,0,0,2,0v-7.59l3.3,3.3A1,1,0,0,0,60,249.29Z"
								transform="translate(-42.26 -238)" fill="#bf71ff" />
						</svg>
					</span>
					<span class="state"></span>
					<span class="unit"></span>
					<span class="timeCmd value" data-type="info"></span>
				</center>
			</div>
			<div class="cmd cmd-widget" data-type="info" data-subtype="numeric" data-template="tile"
				data-cmd_id="#ping_Id#">
				<center>
					<div class="cmdName">#ping_Name#</div>
					<span class="svg">
						<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M48.5,169.61a1,1,0,0,0,.77.39h10a1,1,0,0,0,0-2H51.19l3.06-3.06a1,1,0,1,0-1.41-1.41l-4.54,4.54a1,1,0,0,0,0,1.41A1,1,0,0,0,48.5,169.61ZM54.26,159a12,12,0,1,0,12,12A12,12,0,0,0,54.26,159Zm0,22a10,10,0,1,1,10-10A10,10,0,0,1,54.28,181ZM60,172.39a1,1,0,0,0-.77-0.39h-10a1,1,0,1,0,0,2h8.09l-3.06,3.06a1,1,0,1,0,1.41,1.41l4.54-4.54a1,1,0,0,0,0-1.41A1,1,0,0,0,60,172.39Z"
								transform="translate(-42.26 -159.01)" fill="#fff38e" />
						</svg>
					</span>
					<span class="state"></span>
					<span class="unit"></span>
					<span class="timeCmd value" data-type="info"></span>
				</center>
			</div>
		</div>
	</center>
	#divGraphInfo#
	<script>
		jeedom.cmd.addUpdateFunction('#download_Id#', function (_options) {
			$('.cmd[data-cmd_id=#download_Id#] .state').empty().append(_options.display_value)
			$('.cmd[data-cmd_id=#download_Id#] .unit').empty().append(_options.unit)
			if ('#timeWidget#' == '1') {
				jeedom.cmd.displayDuration(_options.valueDate, $('.cmd[data-cmd_id=#download_Id#]').find('.timeCmd'), '#time#')
			} else {
				$('.cmd[data-cmd_id=#download_Id#]').find('.timeCmd').parent().remove()
			}
		});
		jeedom.cmd.refreshValue([{ cmd_id: '#download_Id#', display_value: '#download_Value#', valueDate: '#download_ValueDate#', collectDate: '#download_CollectDate#', unit: '#download_Unite#' }])
		jeedom.cmd.addUpdateFunction('#upload_Id#', function (_options) {
			$('.cmd[data-cmd_id=#upload_Id#] .state').empty().append(_options.display_value)
			$('.cmd[data-cmd_id=#upload_Id#] .unit').empty().append(_options.unit)
			if ('#timeWidget#' == '1') {
				jeedom.cmd.displayDuration(_options.valueDate, $('.cmd[data-cmd_id=#upload_Id#]').find('.timeCmd'), '#time#')
			} else {
				$('.cmd[data-cmd_id=#upload_Id#]').find('.timeCmd').parent().remove()
			}
		});
		jeedom.cmd.refreshValue([{ cmd_id: '#upload_Id#', display_value: '#upload_Value#', valueDate: '#upload_ValueDate#', collectDate: '#upload_CollectDate#', unit: '#upload_Unite#' }])
		jeedom.cmd.addUpdateFunction('#ping_Id#', function (_options) {
			$('.cmd[data-cmd_id=#ping_Id#] .state').empty().append(_options.display_value)
			$('.cmd[data-cmd_id=#ping_Id#] .unit').empty().append(_options.unit)
			if ('#timeWidget#' == '1') {
				jeedom.cmd.displayDuration(_options.valueDate, $('.cmd[data-cmd_id=#ping_Id#]').find('.timeCmd'), '#time#')
			} else {
				$('.cmd[data-cmd_id=#ping_Id#]').find('.timeCmd').parent().remove()
			}
		});
		jeedom.cmd.refreshValue([{ cmd_id: '#ping_Id#', display_value: '#ping_Value#', valueDate: '#ping_ValueDate#', collectDate: '#ping_CollectDate#', unit: '#ping_Unite#' }])
		if ('#refresh_id#' != '') {
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({ id: '#refresh_id#' })
			})
		} else {
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove()
		}
	</script>
</div>