.speedtestByOokla .lineHeight {
	line-height: 24px !important;
}

.speedtestByOokla .svg {
	display: flex;
}

.speedtestByOokla .bottomBlock {
	margin-top: 10px;
}

.speedtestByOokla .isp {
	display: inline-block;
	vertical-align: middle;
	height: 22px;
}

.speedtestByOokla .circleIsp {
	height: 40px;
	width: 40px;
	border-width: 2px;
	border-style: solid;
	border-radius: 100%;
	margin: 0 10px 0 5px;
	display: inline-flex;
}

.speedtestByOokla .svgPositionIsp {
	margin: auto;
}

.speedtestByOokla .circleRefresh {
	width: 70px;
	height: 70px;
	position: relative;
}

.speedtestByOokla .circleRefresh::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 100%;
	padding: 5px;
	background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
}

.speedtestByOokla .circleRefresh:hover::before {
	animation: rotate 1s linear infinite;
}

@keyframes rotate {
	0% {
		filter: hue-rotate(0deg);
	}

	100% {
		filter: hue-rotate(360deg);
	}
}

.speedtestByOokla .GO {
	line-height: 70px;
	font-size: 24px;
	font-weight: bold;
}

.speedtestByOokla .circleServer {
	height: 40px;
	width: 40px;
	border-width: 2px;
	border-style: solid;
	border-radius: 100%;
	margin: 0 5px 0 10px;
	display: inline-flex;
}

.speedtestByOokla .svgPositionServer {
	margin: auto;
}

.speedtestByOokla .server {
	display: inline-block;
}